@import 'reset.css';
@import 'less/grid.less';
@import 'less/base.less';
//@import 'layout.css';

///// Colors
@red: 		#E12300;
@blue: 		#009DDD;
@green: 	#70BF4F;
@yellow: 	#F8AE16;
@purple: 	#C9AFFF;
@grey: 		#8E8E8D;

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 70;
@gutter-width: 10;

// Remove the definition below for a pixel-based layout
//@total-width: 100%;

////////////
// LAYOUT //
////////////

// center the contents
div.center {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.masthead {
	.ticker { .column(8); }
	.site-search { .column(4); }
}
// main column
#maincolumn {
	.column(8);
}

//column sizes for easy reuse
.widecol { 
	.column(5);
	li {
		.row(5);
		//margin-bottom: 0.5em;
	}
	img { .column(2); }
	p { .column(2); }
}
.narrowcol {
	.push(1);
	.column(2);

	li {
		.row(2);
		margin-bottom: 0.5em;
	}
	img { .column(1); }
	p { .column(1); }

}

#more-top-stories { .widecol(); } 
#contributors { .narrowcol(); } 

// sidebar
aside.sidebar {
	.column(4);
}

/* ---------- Styles ----------*/

//img { width: 100%; }

.masthead {
	.clearfix();
	nav {
	border-bottom: 3px solid #333;
		ul {
			margin: 0;
		}
		li {
			display: inline;
		}

		a {
			text-decoration: none;
			border-top: 3px solid inherit;
			margin-right: 2em;
		}
	}
}

/* --- Collection style --- */
section {
	h2 { 
		color: @red;
		font-family: sans-serif; //change to whatever we're using
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: bold;
	}
	h3 a {
		font-size: 1rem;
		line-height: 1;
	}
}

/* --------- The damned carosel ---------- */

#stupid-ass-carosel {
	h1 {
		font-size: 1.8em;
		line-height: 1;
		padding: 0.5em;
	}
	h2 {
		font-size: 1em;
		line-height: 1;
	}
	.active-horsey {
		background-color: black;
		a { 
			color: white;
			text-decoration: none;
		}
	}
	ul {
		.row(8);
		li {
			.column(2,4);
			img{ border: 3px solid transparent;}
			img.active { border: 3px solid black;}
		}
	}
}
